
<main class="container-fluid g-0">
  <section class="categories-bar">
    <div class="container">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/shop">Explore</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="clothingDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Clothing <span class="badge bg-primary">New</span>
          </a>
          <ul class="dropdown-menu" aria-labelledby="clothingDropdown">
            <li><a class="dropdown-item" routerLink="/shop">All Clothing</a></li>
            <li><a class="dropdown-item" routerLink="/shop/tag/t-shirts">T-Shirts</a></li>
            <li><a class="dropdown-item" routerLink="/shop/tag/hoodies">Hoodies</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/shop/tag/stickers">Stickers</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="phoneCasesDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Phone Cases
          </a>
          <ul class="dropdown-menu" aria-labelledby="phoneCasesDropdown">
            <li><a class="dropdown-item" routerLink="/shop/tag/phone-cases">All Phone Cases</a></li>
            <li><a class="dropdown-item" routerLink="/shop/tag/iphone-cases">iPhone Cases</a></li>
            <li>
              <a class="dropdown-item" href="#"
                >Samsung Galaxy <span class="badge bg-primary">New</span></a
              >
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/shop/tag/wall-art">Wall Art</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/shop/tag/home-living">Home & Living</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/shop/tag/kids-babies">Kids & Babies</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/shop/tag/accessories">Accessories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/shop/tag/stationery-office">Stationery & Office</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/shop/tag/gifts">Gifts</a>
        </li>
      </ul>
    </div>
  </section>

  <section class="hero-section">
    <div class="container">
      <img
        src="/images/banner/home-banner.jpeg"
        class="img-fluid"
        alt="Hero Image"
      />
      <div class="hero-content">
        <h1>Season of Change
          </h1>
        <p>
          Up to 40% off everything, including new iPhone 17 cases. Discover & support new independent art now.
        </p>
        <a href="#" class="btn btn-light btn-lg">Shop Sale</a>
      </div>
    </div>
  </section>

  <!-- Product Range Section -->
  <section class="product-range-section margin-inline-5">
    <div class="container">
      <h2 class="mb-5">Shop Product Range</h2>
      <div class="row">
        <div class="col-md-4">
          <div class="product-card">
            <img
              src="/images/shop/shop-clothes.jpeg"
              alt="Clothes"
            />
            <a routerLink="/shop/tag/clothes" class="btn">Shop Clothes</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="product-card">
            <img
              src="/images/shop/shop-phone-cases.jpeg"
              alt="Shop Phone Cases"
            />
            <a routerLink="/shop/tag/phone-cases" class="btn">Shop Phone Cases</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="product-card">
            <img
              src="/images/shop/shop-posters.jpeg"
              alt="Shop Posters"
            />
            <a routerLink="/shop/tag/posters" class="btn">Shop Posters</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Features Section -->
  <section class="features-section py-0">
    <div class="container">
      <div class="row">
        <div class="col-md-4 feature">
          <i class="bi bi-brush"></i>
          <h3>Weirdly meaningful art</h3>
          <p>Millions of designs on over 70 high quality products.</p>
        </div>
        <div class="col-md-4 feature">
          <i class="bi bi-hand-thumbs-up"></i>
          <h3>Purchases pay artists</h3>
          <p>Money goes directly into a creative person's pocket.</p>
        </div>
        <div class="col-md-4 feature">
          <i class="bi bi-shield-check"></i>
          <h3>Socially responsible production</h3>
          <p>We’re investing in programs to offset all carbon emissions.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="product-range-section margin-inline-5">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="product-card">
            <img
              src="/images/shop/shop-stickers.jpeg"
              alt="Stickers"
            />
            <a routerLink="/shop/tag/stickers" class="btn">Shop Stickers</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="product-card">
            <img
              src="/images/shop/shop-deals.jpeg"
              alt="Shop Deals"
            />
            <a routerLink="/shop/tag/deals" class="btn">Shop Deals</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="product-card">
            <img
              src="/images/shop/shop-mugs.jpeg"
              alt="Shop Mugs"
            />
            <a routerLink="/shop/tag/mugs" class="btn">Shop Mugs</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Featured Products Section -->
  <section class="featured-products-section">
    <div class="container">
      <h2 class="mb-4">Featured products</h2>
      <div
        id="featuredProductsCarousel"
        class="carousel slide"
        data-bs-ride="carousel"
      >
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div
              class="row row-cols-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 g-4"
            >
              @for (p of products(); track p.id) {
                <div class="col">
                  <app-product-card [product]="p"></app-product-card>
                </div>
              }
              <!-- Add more products here -->
            </div>
            <div
              class="row row-cols-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 g-4"
            >
              @for (p of products(); track p.id) {
                <div class="col">
                  <app-product-card [product]="p"></app-product-card>
                </div>
              }
              <!-- Add more products here -->
            </div>
          </div>
          <div class="carousel-item">
            <div
              class="row row-cols-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 g-4"
            >
              @for (p of products(); track p.id) {
                <div class="col">
                  <app-product-card [product]="p"></app-product-card>
                </div>
              }
              <!-- Add more products here -->
            </div>
          </div>


        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#featuredProductsCarousel"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
            >
              <path
                d="M15 19a1 1 0 01-.71-.29l-6-6a1 1 0 010-1.42l6-6a1 1 0 011.42 1.42L10.41 12l5.3 5.29a1 1 0 01-.71 1.71z"
              ></path>
            </svg>
          </span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#featuredProductsCarousel"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
            >
              <path
                d="M9 19a1 1 0 01-.71-.29 1 1 0 010-1.42l5.3-5.29-5.3-5.29a1 1 0 011.42-1.42l6 6a1 1 0 010 1.42l-6 6A1 1 0 019 19z"
              ></path>
            </svg>
          </span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </section>


  <section>
    <div class="container">
       <!-- Explore designs -->
       <section class="explore-designs-section mb-3 mb-lg-4">
        <header>
          <h2>Explore designs picked for you</h2>
          <a
            routerLink="/shop/tag/all"
            >See more</a
          >
        </header>

        <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 g-4">
          @for (p of products(); track p.id) {
            <div class="col">
              <app-product-card [product]="p"></app-product-card>
            </div>
          }
        </div>
      </section>
    </div>
  </section>
</main>
